[program:__APP__]
directory=__INSTALL_DIR__/app/server/
command=__NODEJS_DIR__/node index.js --port __PORT__
autostart=true
autorestart=true
user=__APP__
